.pageButtonUp,
.pageButtonDown {
  position: relative;
  text-align: center;
  /* transition: background-color 0.5s;
    transition: background-color width height 0.5s; */
  user-select: none;
}

.pageButtonUp:hover,
.pageButtonDown:hover {
  animation-name: changeColor;
  animation-duration: 1s;
  background-color: rgb(216, 230, 236);
}

.pageButtonUp:active {
  animation-name: changePosBot;
  animation-duration: 0.2s;
  bottom: 2px;
}

.pageButtonDown:active {
  animation-name: changePosTop;
  animation-duration: 0.2s;
  top: 2px;
}

@keyframes changeColor {
  from {
    background-color: #cad8de;
  }

  to {
    background-color: rgb(216, 230, 236);
  }
}

@keyframes changePosBot {
  from {
    bottom: 0px;
  }

  to {
    bottom: 2px;
  }
}

@keyframes changePosTop {
  from {
    top: 0px;
  }

  to {
    top: 2px;
  }
}
