.profileInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #FFE66D;
    padding: 10px;
}

.profileInfoFirst {
    order: 1;
    padding: 0 15px;
}

.profileInfoSecond {
    order: 2;
    padding: 0 15px;
}

.profileInfoThird {
    order: 3;
    padding: 0 15px;
}

.profileInfoFourth {
    order: 4;
    padding: 0 15px;
}

.profileInfoFifth {
    order: 5;
    padding: 0 15px;
}